<h3 class="text-center">Form Control Demo</h3>
<div class="container col-5 align-content-center">
    <div class="form-group">
      <label for="name">Full Name</label>
      <input type="text" class="form-control" [formControl]="fcname" >
      <p>
        Your Entered Name: {{ fcname.value }}
      </p>
    </div>
    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" [formControl]="fcemail" >
      <p>
        Your Entered Email: {{ fcemail.value }}
      </p>
    </div>
    <div class="form-group">
      <label for="name">Phone Number</label>
      <input type="text" class="form-control" [formControl]="fcphone" >
      <p>
        Your Entered Phone No: {{ fcphone.value }}
      </p>
    </div>
    <div class="form-group align-item-center">
      <button class="btn btn-primary" (click)="updateData()">Set Value</button>
    </div>
  </div><hr>


